<div class="container">

  <br>
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" style="width: 250px;">
        <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
          <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3">

      <div class="list-group">
        <a href="#" class="list-group-item" *ngFor="let category of categoryList">{{category.name}}</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList;">
          <div class="card h-100 text-center">
            <a href="#"><img class="card-img-top p-3" src="{{'data:image/jpeg;base64,'+product.image1}}" height="200"
                width="100" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{product.title}}</a>
              </h4>
              <h5>Rs. {{product.price}}</h5>
              <button type="button" class="btn btn-outline-success">View Details</button>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">★ ★ ★ ★ ☆</small>
            </div> -->
          </div>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
