.cardcss {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.list-group-item.active {
background-color: rgba($color: #22AA86, $alpha: 0.8) !important;
border-color: rgba($color: #22AA86, $alpha: 1.0) !important;
}


.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.breadcrumb > li + li:before {
  content: ">\00a0";
  color: #cccccc;
}
@media (max-width: 991px) {
  .breadcrumb {
    padding: 8px 0px;
    text-align: center;
  }
}
