.box {
  height: 100%;
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
