
  <div class="col-container">
   
    <br>
    <div class="row p1">
      <div class="">
  
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
            <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">View collected waste</li>
          </ol>
        </nav>
      </div>
      <div *ngIf="successMsg" class="col-md-6">
        <div  class="alert alert-success alert-dismissible fade show" role="alert">
          {{successMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="errorMsg" class="col-md-6">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{errorMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="card p2">
          <div class="card-body ">
            <h4 class="card-title">
              View Waste Details
            </h4>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Wast Type</th>
          <th>Quantity</th>
          <th>Amount</th>
          <th>Invoice No</th>
          <th>Date</th>
          <th>Action</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let collectedWaste of collectedWastes | async">
          <td>{{collectedWaste.wasteType}}</td>
          <td>{{collectedWaste.quantity}}</td>
          <td>{{collectedWaste.amount}}</td>
          <td>{{collectedWaste.invoiceNo}}</td>
          <td>{{collectedWaste.date}}</td>
         
          <td>
            <!-- <button (click)="deleteCollectedWaste(collectedWaste.id)" class="btn btn-danger">Delete</button> -->
            <button (click)="openConfirmationDialog(collectedWaste.id)" class="btn btn-danger">Delete</button>
            <button (click)="updateCollectedWaste(collectedWaste.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
</div>

</div>

<div class="col-lg-3 col-md-3">
  <div class="card p2">
    <div class="card-body ">
      <h4 class="card-title">
        Summary Stock
      </h4>
<div class="panel-body">
<table class="table table-striped">
<thead>
  <tr>
    <th>Wast Type</th>
    <th>Total Amount</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let stockWaste of stockWastes | async">
    <td>{{stockWaste.type}}</td>
    <td>{{stockWaste.total}}</td>
   
    <td>
   
        
    </td>
  </tr>
</tbody>
</table>
</div>

</div>
</div>

</div>

 <div class="col-lg-1 col-md-1"></div>
</div>



