
  <div class="col-container">
   
    <br>
    <div class="row p1">
      <div class="">
  
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
            <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Waste Request</li>
          </ol>
        </nav>
      </div>
      <div *ngIf="successMsg" class="col-md-6">
        <div  class="alert alert-success alert-dismissible fade show" role="alert">
          {{successMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="errorMsg" class="col-md-6">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{errorMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    

  <div class="row">
    <div class="col-lg-4 col-md-4">
      <div class="card p2">
        <div class="card-body ">
          <h4 class="card-title">
            Place a waste request
          </h4>
    <form (ngSubmit)="onSubmit()"  >

      <div class="form-row">
        <div class="form-group col-md-12">
        <label for="wasteType">Waste Type</label>
        <!-- <select class="form-control" name="wasteType" id="wasteType" [(ngModel)]="collectedWaste.wasteType" placeholder="Enter waste type" required>
          <option [value]="type" *ngFor="let type of Types">{{type}}</option>
          
        </select> -->
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-12">
        <label for="quantity">Quantity</label>
        <!-- <input type="number" class="form-control" name="quantity" id="quantity"  min="1" oninput="validity.valid||(value='');" placeholder="Enter Waste Quantity in grams" [(ngModel)]="collectedWaste.quantity" required #quantity="ngModel"> -->
        </div>
      </div>
  
     
      
      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>

  </div>
</div>

</div>

   
  </div>
  <br>
  
  
  
  