<div class="container">
  <div class="form-row">
    <div class="col-md-12">
      <br>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">My Account</li>
          <li class="breadcrumb-item " aria-current="page">Order Histpry</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3">

      <div class="list-group">
        <a class="list-group-item " routerLink="/customer/myOrders">My Orders</a>
        <a class="list-group-item " routerLink="/customer/myOrders">My Favourites</a>
        <a class="list-group-item " routerLink="/customer/updateCustomerProfile">Edit Account</a>
        <a class="list-group-item " routerLink="/customer/feedback">Manage Feedback</a>
        <a class="list-group-item ">Edit Account</a>
        <a class="list-group-item ">Message Center</a>
      </div>
      <br>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="alert alert-success" role="alert" *ngIf="emailFlag">
        {{emailFlag}}
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title" style="color: #333333;">My Orders</h2>
          <h6 class="card-subtitle mb-2 text-muted">View your All Orders From Here !</h6>
          <div class="">

            <table class="table table-hover" style="font-size: 14px;">
              <thead>  
                <tr>
                  <th>Order Id</th>
                  <th>Product</th>
                  <th>Quentity</th>
                  <th>Unit Price</th>
                  <th>Status</th>
                  <th>Order Date</th>
                </tr>
              </thead>

              <tbody *ngFor="let order of viewOrders">
                <tr *ngFor="let item of order.cart">
                  <td>{{order.id}}</td>
                  <td>{{item.product.title}}</td>
                  <td>{{item.quentity}}</td>
                  <td>{{item.product.price}}</td>
                  <td *ngIf="order.status == 'Pending'"><button type="button"
                      class="btn btn-outline-warning btn-sm">{{order.status}}</button></td>
                  <td *ngIf="order.status == 'Accepted'"><button type="button"
                      class="btn btn-outline-success btn-sm">{{order.status}}</button></td>
                  <td>{{order.date | date}}</td>
                </tr>
              </tbody>

              <tfoot>

                <tr>

                  <th colspan="5">Total</th>

                  <th colspan="2">{{orderCount}}</th>

                </tr>

              </tfoot>

            </table>
          </div>
        </div>
      </div>
      <br>
    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
