<!-- Extended default form grid -->
<form class="layout" style="background-color:rgb(255, 255, 255);">
  <div>
    <h4>Add Event</h4>
  </div>

  <!-- Grid row -->
  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="inputEmail4">Event</label>
      <input type="name" class="form-control" id="inputName" placeholder="Event Name">
    </div>
  </div>
  <!-- Grid row -->

  <!-- Default input -->
  <div class="form-row">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <!-- Default input -->
  <!-- <div class="form-row">
        <div class="form-group col-md-6">
          <label for="date" class="col-md-6 col-form-label">Required Date</label>
          <input type="date" name="reqDate" required pattern="\d{2}-\d{2}-\d{4}" class="form-control col-md-6">
          <span >{{dateError}}</span>
        </div>
        <div class="form-group col-md-6">
            <label for="time" class="col-md-6 col-form-label">Required Time</label>
            <input type="time" name="reqTime"  class="form-control col-md-6">
            <span >{{timeError}}</span>
        </div>
      </div> -->
  <!-- Grid row -->
  <div class="form-row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- Default input -->
    <!--Material textarea-->
    <div class="md-form md-outline">
      <label for="form75">Material textarea</label>
      <textarea id="form75" class="md-textarea form-control" rows="3"></textarea>
    </div>
  </div>
  <!-- Grid row -->
  <br />
  <br />

  <button type="submit" class="btn btn-primary btn-md">Submit</button>

</form>
<!-- Extended default form grid -->
