<mat-toolbar style="background-color:#000000;color:white;">
  <mat-toolbar-row>
    <button mat-icon-button  (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> TrashCash </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button>
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="feed">
            <mat-icon>notifications</mat-icon>
            <a><span class="badge badge-pill badge-danger count-notif">{{noNew}}</span></a>
          </button>
          <mat-menu #feed="matMenu">

            <button mat-menu-item>
              <i class="fas fa-address-card"></i>
              Requests
              <a><span class="badge badge-pill badge-danger"></span></a>
            </button>

            <button mat-menu-item routerLink="/system/displayCustomerFeedbacks">
              <i class="fas fa-comment"></i>
              Feedbacks
              <a><span class="badge badge-pill badge-danger">{{noNew}}</span></a>
            </button>
          </mat-menu>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/system/login" *ngIf="!this.authservice.isUserLoggedIn()">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </button>
            <button mat-menu-item routerLink="/system/register" *ngIf="!this.authservice.isUserLoggedIn()">
              <i class="fas fa-user"></i>
              Register
            </button>
            <button mat-menu-item routerLink="/system/profile" *ngIf="this.authservice.isUserLoggedIn()">
              <i class="fas fa-user"></i>
              Profile
            </button>
            <button mat-menu-item routerLink="/system/logout" *ngIf="this.authservice.isUserLoggedIn()">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
