// .body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
// .body {
//   background-image: url(https://previews.123rf.com/images/279photo/279photo1703/279photo170300499/73356525-waste-recycling-symbol-with-garbage-on-wooden-background-top-view-mock-up.jpg);
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   min-height: 100vh;
//   font-family: "Roboto", sans-serif;
// }
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.login-wrapper {
  height: 100%;
  background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.3);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}
// .login-wrapper .example-form{min-width:100%;max-width:650px;width:100%;}
.login-wrapper .button .btn-block {
  max-width: 300px;
  width: 100%;
}
.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}
.login-wrapper .mat-card {
  padding: 40px 70px 50px;
  max-width: 650px;
  background: rgba(255, 255, 255, 1);
}
.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: rgb(240, 200, 215);
}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}

.example-form .card-content mat-form-field {
  padding-left: 50px;
  width: 250px;
}
.login-wrapper .button {
  text-align: center;
}
