<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form" #registerform="ngForm" (ngSubmit)="registerUser()">
      <!-- <small [class.text-danger]="msg.status==500">{{msg.message}}</small> -->
      <mat-card-content class="card-content">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
          {{errorMessage}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <mat-form-field>
          <input matInput placeholder="First Name" name="fname" [(ngModel)]="user.fisrtName" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last Name" name="lname" [(ngModel)]="user.lastName" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contact Number </mat-label>
          <input matInput name="contactNumber" pattern="07[1,2,5,6,7,8][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
            [(ngModel)]="user.contactNumber" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose a role...</mat-label>
          <mat-select matNativeControl name="userType" [(ngModel)]="user.userType" required>
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="right">
          <input matInput placeholder="Email" type="email" name="email" [(ngModel)]="user.email" required
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Choose Gender ...</mat-label>
          <mat-select matNativeControl name="gender" [(ngModel)]="user.gender" required>
            <mat-option [value]="gender" *ngFor="let gender of Gender">{{gender}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
            #password="ngModel" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" name="passwordAgain" (ngModel)="user.password"
            #cpassword="ngModel" required [class.is-invalid]="cpassword.invalid && cpassword.touched">
          <!-- class binding->from ui to class file -->
        </mat-form-field>
        <small style="padding-left: 50px;"
          [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Passwords Mismatch!!!</small>

      </mat-card-content>
      <div class="button">
        <button mat-stroked-button color="accent"
          [disabled]="registerform.form.invalid || !(cpassword.value == password.value)" type="submit"
          class="btn-block">Register</button>
      </div>

    </form>
  </mat-card>
</div>
