<div class="col-container">
    <br>
  
    <div class="row p1">
      <div class="">
  
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
            <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
          </ol>
        </nav>
      </div>
      <div *ngIf="successMsg" class="col-md-6">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{successMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div *ngIf="errorMsg" class="col-md-6">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{errorMsg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <div class="card p2">
          <div class="card-body ">
            <h4 class="card-title">
              Edit Profile
            </h4>
            <form (ngSubmit)="updateUserProfile()" #todoForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">First Name</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required>
                </div>
                
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Contact Number</label>
                  <input type="text" class="form-control" name="contactNumber" [(ngModel)]="user.contactNumber" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="">Role</label>
                  <select class="form-control" name="type" [(ngModel)]="user.type" required>
                    <option [value]="roles" *ngFor="let roles of Roles">{{roles}}</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Email</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                </div>
                <!-- <div class=" form-group col-md-6">
                  <label for="">Gender</label>
                  <select class="form-control" name="gender" [(ngModel)]="user.gender" required>
                    <option [value]="gender" *ngFor="let gender of Gender">{{gender}}</option>
                  </select>
                </div> -->
              </div>
              <!-- <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Profile picture</label>
                  <input type="file" accept="image/*" (change)="onSelectFile($event)" class="form-control" name="image">
                  <img [src]="imgURL" height="100" width="100" *ngIf="imgURL">
                </div>
              </div> -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required
                    #password="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label for="">Confirm Password</label>
                  <input type="password" class="form-control" name="passwordAgain" (ngModel)="user.password" required
                    #cpassword="ngModel" [class.is-invalid]="cpassword.invalid && cpassword.touched">
                </div>
                <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">
                  Passwords Mismatch!!!</small>
  
              </div>
              <button type="submit" class="btn btn-primary float-right">Update</button>
            </form>
          </div>
        </div>
  
      </div><!-- col-lg-12 Finish -->
  
      <div class="col-lg-3 col-md-3">
        <div class="card p3">
          <!-- <img class="card-img-top" src="{{user.propic}}" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">
              {{user.fisrtName}}
            </h4>
            <h5>{{user.firstName}}</h5>
            <h5>{{user.email}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">★ ★ ★ ★ ☆</small>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <br>
  