<div class="col-container">
  <br>

  <div class="row p1">
    <div class="">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
          <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Recycled Product
              Categories</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Category</li>
        </ol>
      </nav>
    </div>

    <div *ngIf="successMsg" class="col-md-6">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{successMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div *ngIf="errorMsg" class="col-md-6">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errorMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9">
      <div class="card p2">
        <div class="card-body ">
          <h4 class="card-title">
            Add Category
          </h4>
          <div>
            <form (ngSubmit)="onSubmit()" #productCatForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-9" class="right">
                  <label for="">Category Name</label>
                  <input type="text" class="form-control" name="name" id="name" [(ngModel)]="productCat.name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-9">
                  <label for="">Description</label>
                  <textarea rows="4" cols="50" name="description" id="description" class="form-control"
                    [(ngModel)]="productCat.description"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-9">
                  
                  <label for="">Image  </label>
                  <input type="file" (change)="onFileChanged($event)">
                  <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
                </div>
              </div>
              <button type="submit" class="btn btn-primary float-left" >Submit</button>
              <!-- (click)="checkName()" -->
            </form>
          </div>

          <div>
            <!-- <h4>You submitted successfully!</h4> -->
            <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
          </div>

        </div>
      </div>
    </div>
 


  
  <div class="col-lg-3 col-md-3">
    <div class="card p3">
      <div class="card-body">
        <h4 class="card-title">Existing Product Categories</h4>
          <!-- <p class="card-text" *ngFor="let item of listItems" >{{item}}</p> -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item fa fa-check-circle" *ngFor="let item of listItems">{{item}}</li>
           
          </ul>
      </div>
    </div>
  </div>
</div>
  
</div>
