<div class="col-container">
    <br>
  
    <div class="row p1">
<div class="">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
        <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Recycled Product Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Category</li>
      </ol>
    </nav>
  </div>
  </div>

  <div class="row">
    <div class="col-lg-9 col-md-9">
      <div class="card p2">
        <div class="card-body ">
          <h4 class="card-title">
            Add Category
          </h4>
          <div [hidden]="submitted" >       
<form (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Category Name</label>
          <input type="text" class="form-control" name="name" id="name" [(ngModel)]="productCat.name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="">Description</label>
          <textarea rows="4" cols="50" name="description" id="description" class="form-control" [(ngModel)]="productCat.description"></textarea>
        </div>        
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="">Image</label>
        <input type="file" class="form-control" name="img">
        </div>
    </div>
    <button type="submit" class="btn btn-primary float-left">Submit</button>
  </form> 
</div>  

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>

  </div>
</div>
</div>
</div>
</div>
