
.edit-user {
  // height: 430px;
}

.profile-card {
  max-height: 430px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-form .card-content mat-form-field {
  padding-left: 50px;
  width: 400px;
}

.button {
text-align: center;
}
