<mat-divider></mat-divider>

<div id="footer">
  <div fxLayout="row" fxFlex="20">
    <div fxLayout="column">
      <h5>Pages</h5>

      <ul>
        <!-- <li><a>Shopping Cart</a></li> -->
        <li><a>Contact Us</a></li>
        <!-- <li><a>Shop</a></li> -->
        <li><a>My Account</a></li>
      </ul>

      <h5>User Section</h5>

      <ul>
        <li><a>Login</a></li>
        <li><a>Register</a></li>
        <li><a>Terms & Conditions</a></li>
      </ul>
    </div>
  </div>

  <div fxLayout="row" fxFlex="40">
    <div fxLayout="column">

      <h5>Top Products Catogories</h5>
      <ul>
        <li><a>adsfasdf</a></li>
        <li><a>adsfasdf</a></li>
        <li><a>adsfasdf</a></li>
      </ul>

    </div>
  </div>

  <div fxLayout="row" fxFlex="30">
    <div fxLayout="column">

      <h5>Find Us:</h5>
      <p>
        <strong>UCSC G33</strong>
        <br>Ciber
        <br>Ciracus
        <br>0767035245
        <br>sakun@gmail.com
        <br><strong>Sakun Admin</strong>
      </p>

      <a>Check Our Contact Page</a>

    </div>
  </div>

  <div fxLayout="row" fxFlex="30">
    <div fxLayout="column">

      <h5>Get the NEWS</h5>

      <p class="text-muted">
        Subscribe to get latest news from us
      </p>

      <form fxLayout="row" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. email@gmail.com">
        </mat-form-field>
        <div class="example-button-row">
          <button mat-raised-button>Subscribe</button>
        </div>
      </form>
      <hr>

      <h5>Keep In Touch</h5>

      <p class="social">
        <a><i class="fab fa-facebook"></i></a>
        <a><i class="fab fa-google-plus"></i></a>
        <a><i class="fab fa-twitter"></i></a>
        <a><i class="fab fa-instagram"></i></a>
        <a><i class="fab fa-youtube"></i></a>
      </p>
    </div>
  </div>

</div>

<div id="copyright">
  <div fxLayout="row" fxFlex="60" fxLayoutAlign="start center">

    <p>
      <a routerLink="/system/dashboard"><strong>&copy; 2020 UCSC G33 All Rights Recerve</strong></a>
    </p>

  </div>

  <div fxLayout="row" fxFlex="60" fxLayoutAlign="end center">

    <p>Theme By: <a>G33</a></p>

  </div>
</div>
