<div class="container">
    <div class="form-row">
        <div class="col-md-12">
          <br>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item" routerLink="/customer/showevent">Events</li>
             <!-- <li class="breadcrumb-item active" aria-current="page">{{.category}}</li> -->
    
            </ol>
          </nav>
        </div>
      </div>
    
     <!-- <div class="row">    
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4 mb-lg-0" height="300" width="400" src="{{eventImage}}" alt="center">
        </div>    
        <div class="col-md-12" >
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">{{events.eventName}}</h2>
              <hr>
              <p class="card-text text-muted">Event Location:  {{events.location}}</p>
              <p>Event Date:{{events.date}}</p>
              <p>Event Description: {{events.notes}}</p> 
              
              
            </div>
          </div>
        </div>
    
      </div>
    -->
    <!-- Card -->
    <div class="bs-example">
    <div class="card" style="max-width: fit-content;">
        <div class="row no-gutters">
            <div class="col-sm-5" style="background: #868e96;">
                <img src="{{eventImage}}" class="card-img-top h-300">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h1 class="card-title">{{events.eventName}}</h1>
                    <h6 class="text-muted">Event Date:{{events.date}}</h6>
                    <h5 class="font-weight-bold indigo-text py-2">Location:{{events.location}}</h5>
                    <br>
                    <p class="card-text">{{events.notes}}</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>


   
<br>
    
    </div>
    