<div class="container">
    <div class="form-row">
        <div class="col-md-12">
          <br>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item" routerLink="/customer/showevent">Events</li>
             <!-- <li class="breadcrumb-item active" aria-current="page">{{.category}}</li> -->
    
            </ol>
          </nav>
        </div>
      </div>
    
     <!-- <div class="row">    
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4 mb-lg-0" height="300" width="400" src="{{eventImage}}" alt="center">
        </div>    
        <div class="col-md-12" >
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">{{events.eventName}}</h2>
              <hr>
              <p class="card-text text-muted">Event Location:  {{events.location}}</p>
              <p>Event Date:{{events.date}}</p>
              <p>Event Description: {{events.notes}}</p> 
              
              
            </div>
          </div>
        </div>
    
      </div>
    -->
    <!-- Card -->
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade">
    <img class="card-img-top" src="{{eventImage}}"
      alt="card-cascade">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Event Location: {{events.eventName}}</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Event Date:{{events.date}}</h6>
    <!-- Text -->
    <p class="card-text">Event Description: {{events.notes}}
    </p>

    
  </div>

</div>
<!-- Card -->
   

    
    </div>
    