<div class="col-container">
  <br>

  <div class="row p1">
    <div class="">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
          <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">View Terms</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 col-md-10">
      <div class="card p2">
        <div class="card-body ">
          <!-- <h4 class="card-title">
              View Product
            </h4> -->

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Terms & Conditions</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Term Title</th>
                    <th>Term URL</th>
                    <th>Term Discription</th>
                    <th colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let term of terms | async">
                    <td >{{term.title}}</td>
                    <td >{{term.turl}}</td>
                    <td >{{term.tdiscrip}}</td>
                    <td ><button (click)="openConfirmationDialog(term.id)" class="btn btn-danger">Delete</button></td>
                    <td ><button (click)="updateTerm(term.id)" class="btn btn-info">Update</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
