:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: 100%;
  background-color: #f0f0f0;

}

mat-drawer-content {
  padding: 0px;
}
