<div class="container">
  <div class="form-row">
    <div class="col-md-12">
      <br>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item " aria-current="page">Terms & Conditons</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngFor="let term of termslist">
          <h5 class="card-title">{{term.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Term URL : {{term.turl}}</h6>
          <p class="card-text">{{term.tdiscrip}}</p>
          <br>
        </div>
      </div>
      <!-- <div class="row" *ngIf="termEmptyListFlag">
        <div class="card cardcss border-success mb-3">
          <div class="card-body text-success">
            <h2 class="card-title"> <i class="fad fa-heart-broken"></i> Terms & Conditions <i
                class="fal fa-frown-open"></i></h2>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!termEmptyListFlag">

       <div class="card col-lg-16" >
        <div class="col-lg-16 col-md-16 mb-4" *ngFor="let term of termslist">
        <div class="card">
          <div class="card-header">
            <b> {{term.title}}  </b>
          </div>
          <div class="card-body">
            <h6 class="card-title">{{term.turl}}</h6>
          </div>
          <div class="card-body">
            {{term.tdiscrip}}
          </div>
        </div>
        </div>
      </div>
      </div> -->
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <br>
</div>
