.p1{
    margin-left: -25px;
  }
  
  .p2{
    margin-left: 25px;
    align-content: center;
  
  }
  
  .p3{
    // max-width: 400px;
    margin-right: 25px;
  
  }
  
  .col-container {
    display: table;
    width: 100%;
    justify-content: center;
    background-position: center;
  }
  .col {
    display: table-cell;
  }

  .button{
    color: darkblue;
  }
  
  

  
 
  
  
  