<div class="col-container">
  <br>

  <div class="row p1">
    <div class="">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
          <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pending Customer Orders</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card p2">
        <div class="card-body ">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4>Pending Customer Orders</h4>
            </div>
            <div class="panel-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of ordersList">
                    <td>{{order.id}}</td>
                    <td>{{order.customerId}}</td>
                    <td>{{order.customerId}}</td>
                    <td><p class="text-warning">{{order.status}}</p></td>
                    <td><button type="button" class="btn btn-success btn-sm">Accept</button></td>
                    <td>{{order.date | date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
