
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Prdouct Category List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productCat of productCats | async">
          <td>{{productCat.pCatId}}</td>
          <td>{{productCat.name}}</td>
          <td>{{productCat.description}}</td>
          <td>{{productCat.img}}</td>
          <td><button  class="btn btn-danger">Delete</button>
            <!-- (click)="deleteProduct(product.id)" -->

              <button  class="btn btn-info" style="margin-left: 10px">Update</button>
              <!-- (click)="updateProduct(product.id)" -->
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>