<mat-toolbar>
  <mat-toolbar-row class="mat-toolbar-row-1">
    <button mat-flat-button style="background-color: #5cb85c;color: white;">WELCOME GUEST</button>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-icon-button color="rgba(255,255,255,.8)">
            <mat-icon>settings</mat-icon>
          </button>
        </li>
        <li>
          <button mat-icon-button color="rgba(255,255,255,.8)">
            <mat-icon>help_outline</mat-icon>
          </button>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu" color="rgba(255,255,255,.8)">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/system/logout">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="mat-toolbar-row-2">
    <img mat-card-image style="padding-top: 30px;width: 300px;height: 100px;"
      src="/assets/images/logo/trashcash_logo.png" alt="TrashCash">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <!-- <span style="font-weight: 600;"> TrashCash </span> -->
      <div class="example-button-row">
        <button mat-button [routerLink]="['/customer/welcome']" [routerLinkActive]="['mat-raised-button']" >HOME</button>
        
        <button mat-button [matMenuTriggerFor]="shop" [routerLinkActive]="['mat-raised-button']">SHOP</button>
        
         
      <mat-menu #shop="matMenu">
        <!-- <button mat-menu-item  *ngFor="let product of products" *ngFor="let c1 of listItems" [value]="c1" routerLink="/customer/shop">
          {{c1}}
        </button> -->
        
        <button mat-menu-item *ngFor="let c1 of listItems" [value]="c1" (click)="ViewCategory(c1)">
          {{c1}}
        </button> 
       
      </mat-menu> 
      
        <button mat-button [routerLinkActive]="['mat-raised-button']">MY ACCOUNT</button>
        <button mat-button [routerLinkActive]="['mat-raised-button']">SHOPPING CART</button>
        <button mat-button [routerLinkActive]="['mat-raised-button']">CONTACT US</button>
        <button mat-button [routerLinkActive]="['mat-raised-button']">EVENTS & CAMPAIGNS</button>
      </div>
    </div>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-flat-button style="background-color: #9CC026;color: white;">
            <!-- rgb(2, 205, 219) -->
            <mat-icon>shopping_cart</mat-icon>
            0 items in your shopping cart
          </button>
        </li>

      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
