<div class="col-container">
  <br>

  <div class="row p1">
    <div class="">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
          <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Terms</li>
        </ol>
      </nav>
    </div>       

    <div *ngIf="successMsg" class="col-md-6">
      <div  class="alert alert-success alert-dismissible fade show" role="alert">
        {{successMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div *ngIf="errorMsg" class="col-md-6">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errorMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-8">
      <div class="card p2">
        <div class="card-body">
          <h4 class="card-title">
           Add Terms
          </h4>
        
          
     <form (ngSubmit)="onSubmit()" #termForm="ngForm">
          
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="">Term Title</label>
                <input type="text" class="form-control" id="title"  name="title" oninput="validity.valid||(value='');" required [(ngModel)]="terms.title" >
              </div>                           
            </div>

            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="">Term URL</label>
                <input type="text" class="form-control" id="turl"  name="turl" oninput="validity.valid||(value='');" required [(ngModel)]="terms.turl">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="">Term Description</label>
                <textarea rows="6" type="text" class="form-control" id="tdiscrip"  name="tdiscrip" oninput="validity.valid||(value='');" required [(ngModel)]="terms.tdiscrip" >
                </textarea>                                       
              </div>
            </div>              
        
            <button type="submit" class="btn btn-primary float-right">Create Term</button>
          </form>
        
    <!--  <div [hidden]="!submitted">
          <h4>You submitted successfully!</h4>
    -->
         
      </div>
    </div>
  </div>     
</div>
   
<br>
    

 


