<html>
    <head> 
     
    </head>
<body>
<div class="col-container">
    <br>
  
    <div class="row p1">
      <div class="">
  
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb shadow p-3 mb-5 bg-white rounded">
            <li class="breadcrumb-item"><a href="#"><i class="fad fa-tachometer-alt-fastest"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Terms</li>
          </ol>
        </nav>
      </div>
   
     
    </div>
  
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div class="card p2">
          <div class="card-body ">
            <h4 class="card-title">
             Add Terms
            </h4>
            <form >
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="">Term Title</label>
                  <input type="text" class="form-control" name="t_title" >
                </div>

                <div class="form-group col-md-6">
                    <label for="">Term URL</label>
                    <input type="url" class="form-control" name="t_url" >
                  </div>
                
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="">Term Description</label>
                  <textarea id="froala-editor" type="text" class="form-control" name="t_discrip" >
                      </textarea>
                   
                      
                </div>
              </div>
               
          
              <button type="submit" class="btn btn-primary float-right">Create Term</button>
            </form>
          </div>
        </div>
        </div>
        </div>
  
   
  
  </div>
  
  <br>
</body>
  </html>
  